on: 
  push:
    branches:
      - master
    tags-ignore:
      - 'v*'
    paths-ignore:
      - '**.css'
      - '**.tpl'
      - '**.txt'
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.css'
      - '**.tpl'
      - '**.md'
      - '**.txt'
      - '**.yml'
      
name: Tests

jobs:
  frontend_tests:
    name: Frontend Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Install dependecies
      run: npm install
    
    - name: Run tests
      run: npm run-script check-syntax

  php_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.0', '7.1', '7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php-versions }} Test
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        coverage: none
        extensions: soap
        tools: composer, phpcs, phpunit:5.7.27
   
    - name: Check style/syntax
      run: phpcs

    - name: Run tests
      run: phpunit
